In [272]:
import pandas as pd
import os
import json
import re

In [273]:
pwd

'/Users/edithpo/Documents/CS315/CS315_FinalProject'

In [274]:
ls

CompleteDateTime.ipynb           merged datasets/
README.md                        pyktok_data/
ad_exploration.ipynb             topic_modeling.ipynb
cs315project2datacollection.zip  user_jsons/
exploratory_analysis.ipynb       user_jsons_tosplit/
looking_at_jsons.ipynb

## Explore Data from our JSON Files

In [275]:
os.listdir('user_jsons')

['Sec1Gr3_11111.json',
 '.DS_Store',
 'Sec1Gr1_10824.json',
 'Sec2Gr2_69117.json',
 'Merging Datasets.ipynb',
 'Sec1Gr1_50405.json',
 'Sec2Gr2_33534.json',
 '.ipynb_checkpoints',
 'Sec1Gr1_12345.json',
 'Sec2Gr2_26301.json',
 'Sec2Gr2_38129.json']

In [276]:
# codes = ['10824','11111','12345','26301','33534','38129','50405']
codes = ['10824','12345','26301','33534','38129','50405']

In [277]:
# json_files = ['Sec1Gr1_10824.json',
#               'Sec1Gr3_11111.json',
#               'Sec1Gr1_12345.json',
#               'Sec2Gr2_26301.json',
#               'Sec2Gr2_33534.json',
#               'Sec2Gr2_38129.json',
#               'Sec1Gr1_50405.json']
json_files = ['Sec1Gr1_10824.json',
              'Sec1Gr1_12345.json',
              'Sec2Gr2_26301.json',
              'Sec2Gr2_33534.json',
              'Sec2Gr2_38129.json',
              'Sec1Gr1_50405.json']

In [278]:
def process_jsons(filename):
    # Load data
    with open(f'user_jsons/{filename}') as fin:
        data = json.load(fin)
        
        # Process data in dictionary format
        if type(data) == dict:
            print(f"{filename} data loaded as a dictionary.")
            print(f"Original Keys: {data.keys()}")
            print(f"Retrieving data list from the 'data' key.")
            data_list_of_lists = data['data'] # retrieve only the timestamp and link as list
            print(f"First element of data list:")
            print(data_list_of_lists[0])
            print("Transforming into list of dicts format:")
            data_list_of_dicts = [{'Date':elt[0],'Link':elt[1]} for elt in data_list_of_lists]
            print(data_list_of_dicts[0])
        else:
            data_list_of_dicts = data
            print(f"{filename} data loaded as a list of dictionaries.")
            print(f"First element of data list:")
            print(data_list_of_dicts[0])
            
    return data_list_of_dicts

def get_video_id(link):
    # Define the regex pattern
    pattern = r'\/(\d+)\/$'
    match = re.search(pattern, link)
    if match:
        return match.group(1)
    else:
        print(f"No match for link {link}")
        return ""
    
    
def make_jsondf(filename):
    '''Given filename of data file in user_json folder, 
    loads and saves data to new df with columns for watch time and link.
    Adds a column for the user and for the video id.'''
    # Get list of timestamps and links from json file
    data = process_jsons(filename)
    
    # Create dataframe from the timestamp and link
    json_df = pd.DataFrame(data,columns=['Date','Link'])
    
    # Add code column
    json_df['Date'] = pd.to_datetime(json_df['Date'])
    json_df['Month'] = json_df['Date'].apply(lambda date: date.month)
    json_df['Year'] = json_df['Date'].apply(lambda date: date.year)
    json_df['code'] = filename[-10:-5]
    json_df['video_id'] = json_df['Link'].apply(get_video_id)
    return json_df

In [279]:
df10824 = make_jsondf('Sec1Gr1_10824.json')
# df11111 = make_jsondf('Sec1Gr3_11111.json')
df12345 = make_jsondf('Sec1Gr1_12345.json')
df26301 = make_jsondf('Sec2Gr2_26301.json')
df33534 = make_jsondf('Sec2Gr2_33534.json')
df38129 = make_jsondf('Sec2Gr2_38129.json')
df50405 = make_jsondf('Sec1Gr1_50405.json')
# df_list = [df10824,df11111,df12345,df33534,df38129,df50405]
df_list = [df10824,df12345,df33534,df38129,df50405]
all_json = pd.concat(df_list)

Sec1Gr1_10824.json data loaded as a dictionary.
Original Keys: dict_keys(['columns', 'index', 'data'])
Retrieving data list from the 'data' key.
First element of data list:
['2024-02-09 23:35:22', 'https://www.tiktokv.com/share/video/7328672125441658117/']
Transforming into list of dicts format:
{'Date': '2024-02-09 23:35:22', 'Link': 'https://www.tiktokv.com/share/video/7328672125441658117/'}
Sec1Gr1_12345.json data loaded as a dictionary.
Original Keys: dict_keys(['columns', 'index', 'data'])
Retrieving data list from the 'data' key.
First element of data list:
['2024-02-26 02:58:45', 'https://www.tiktokv.com/share/video/7331569476502064414/']
Transforming into list of dicts format:
{'Date': '2024-02-26 02:58:45', 'Link': 'https://www.tiktokv.com/share/video/7331569476502064414/'}
Sec2Gr2_26301.json data loaded as a list of dictionaries.
First element of data list:
{'Date': '2024-03-06 19:44:41', 'Link': 'https://www.tiktokv.com/share/video/7315561816673750318/'}
Sec2Gr2_33534.json data loaded as a list of dictionaries.
First element of data list:
{'Date': '2024-02-03 22:32:47', 'Link': 'https://www.tiktokv.com/share/video/7331462048699649323/'}
Sec2Gr2_38129.json data loaded as a list of dictionaries.
First element of data list:
{'Date': '2024-03-08 03:42:17', 'Link': 'https://www.tiktokv.com/share/video/7343758155492642053/'}
Sec1Gr1_50405.json data loaded as a dictionary.
Original Keys: dict_keys(['columns', 'index', 'data'])
Retrieving data list from the 'data' key.
First element of data list:
['2023-11-18 01:27:59', 'https://www.tiktokv.com/share/video/7298064289510804779/']
Transforming into list of dicts format:
{'Date': '2023-11-18 01:27:59', 'Link': 'https://www.tiktokv.com/share/video/7298064289510804779/'}

In [281]:
all_json

,Date,Link,Month,Year,code,video_id
0,2024-02-09 23:35:22,https://www.tiktokv.com/share/video/7328672125...,2,2024,10824,7328672125441658117
1,2024-02-26 23:29:56,https://www.tiktokv.com/share/video/7326611895...,2,2024,10824,7326611895509585185
2,2024-02-26 23:28:15,https://www.tiktokv.com/share/video/7324765984...,2,2024,10824,7324765984139644192
3,2024-02-26 23:27:53,https://www.tiktokv.com/share/video/7329768535...,2,2024,10824,7329768535524429102
4,2024-02-26 23:27:42,https://www.tiktokv.com/share/video/7338541911...,2,2024,10824,7338541911629745414
...,...,...,...,...,...,...
26112,2023-08-05 01:01:28,https://www.tiktokv.com/share/video/7259854730...,8,2023,50405,7259854730082536747
26113,2023-08-05 01:01:06,https://www.tiktokv.com/share/video/7262065549...,8,2023,50405,7262065549394365702
26114,2023-08-05 01:01:03,https://www.tiktokv.com/share/video/7250606200...,8,2023,50405,7250606200684055854
26115,2023-08-05 00:37:57,https://www.tiktokv.com/share/video/7263265961...,8,2023,50405,7263265961359281413
26116,2023-08-05 00:20:07,https://www.tiktokv.com/share/video/7262829334...,8,2023,50405,7262829334925200686

In [283]:
# Find the number of videos in each year/month for each user
all_json.groupby('code')[['Year','Month']].value_counts().sort_index()


# # Code to do the same thing
# for df, code in zip(df_list,codes):
#     print("User",code)
#     print(df[['Year','Month']].value_counts().sort_index())
#     print()

code   Year  Month
10824  2023  11       14114
             12        2940
       2024  2         9213
12345  2023  9         2985
             11        1964
             12        5558
       2024  1         5299
             2         4038
             3          777
33534  2023  9         5075
             10        5652
             11        7317
             12        8746
       2024  1         9758
             2         3706
38129  2024  2           25
             3            7
50405  2023  8        10053
             9         1044
             10        1540
             11        1003
             12        6047
       2024  1         6295
             2          135
Name: count, dtype: int64

In [284]:
all_json.groupby('code').count()

        Date   Link  Month   Year  video_id
code
10824  26267  26267  26267  26267     26267
12345  20621  20621  20621  20621     20621
33534  40254  40254  40254  40254     40254
38129     32     32     32     32        32
50405  26117  26117  26117  26117     26117

## Reformat JSON Files for Data Collection - USER 26301

In [111]:
# print(os.listdir('user_jsons_tosplit'))

# def convert2json(row):
#     result = {"Date":row["Date"],
#               "Link":row["Link"]}
#     return result

# # Add a new column with correctly formatted dict
# user26301 = make_json_df('Sec2Gr2_26301.json',26301)
# user26301["dict"] = user26301.apply(convert2json, axis=1)
# print(user26301.shape)
# print(user26301.head())


# # Turn into list
# user26301 = user26301['dict'].tolist()

# print(len(user26301))

# # Split the df into parts
# part1 = user26301[:12000]
# part2 = user26301[12000:24000]
# part3 = user26301[24000:36000]
# part4 = user26301[36000:48000]
# part5 = user26301[48000:60000]
# part6 = user26301[72000:82371]


# parts = [part1, part2, part3, part4, part5, part6]
# fnames = ['Sec2Gr2_26301_1.json','Sec2Gr2_26301_2.json',
#           'Sec2Gr2_26301_3.json','Sec2Gr2_26301_4.json',
#           'Sec2Gr2_26301_5.json','Sec2Gr2_26301_6.json']
    
# for part, fn in zip(parts, fnames):
#     with open(f"user_jsons_tosplit/{fn}","w") as outfile:
#         json_object = json.dumps(part, indent=4)
#         outfile.write(json_object)

## Check JSON Data Against Pyktok Metadata

In [215]:
os.listdir('other_pyktok_data')

['results_12345.csv',
 'results_50405.csv',
 'results_50405_full.csv',
 'results_12345(19019 rows).csv',
 'results_10824.2.csv',
 'results_50405_secondHalf.csv',
 'results_10824.csv',
 'results_10824_full.csv']

In [267]:
# pyk10824 = pd.read_csv('other_pyktok_data/results_10824_full.csv')
pyk12345_1 = pd.read_csv('other_pyktok_data/results_12345(19019 rows).csv') 
pyk12345_2 = pd.read_csv('other_pyktok_data/results_12345.csv')
pyk12345 = pd.concat([pyk12345_1,pyk12345_2])

pyk50405 = pd.read_csv('other_pyktok_data/results_50405_full.csv')

In [268]:
def check_dup(df):
    dupdf = df.duplicated().reset_index()
    dupdf.columns = ['index','isdup']
    return dupdf[dupdf['isdup']==True]

In [264]:
for vid_df in [vids,vids2]:
    print(len(vid_df))
    print(len(vid_df.unique()))
    print()

19102
18093

5951
5531

In [242]:
os.listdir('pyktok_data')

['.DS_Store',
 'Sec1Gr3_11111.csv',
 'Sec2Gr3_77777.csv',
 'Sec2Gr3_77217.csv',
 'Sec2Gr3_74721.csv',
 'Sec1Gr1_50405.csv',
 'Sec1Gr1_12345.csv',
 'results_26301_1.csv',
 'results_26301_2.csv',
 'Sec1Gr2_26301.csv',
 '.ipynb_checkpoints',
 'Sec1Gr2_38129.csv',
 'Sec1Gr2_33534.csv',
 'results_12345_2.csv']

### Load Pyktok Metadata

In [258]:
keep_cols = ['video_id', 'video_is_ad','author_username','author_name',
             'suggested_words','video_description']

# ['video_id', 'video_timestamp', 'video_duration',
#        'video_locationcreated', 'suggested_words', 'video_diggcount',
#        'video_sharecount', 'video_commentcount', 'video_playcount',
#        'video_description', 'video_is_ad', 'video_stickers', 'author_username',
#        'author_name', 'author_followercount', 'author_followingcount',
#        'author_heartcount', 'author_videocount', 'author_diggcount',
#        'author_verified']

pyk10824 = pd.read_csv('pyktok_data/Sec1Gr1_10824.csv')
pyk10824 = pyk10824.loc[:,keep_cols]

pyk11111_original = pd.read_csv('pyktok_data/Sec1Gr3_11111.csv')
pyk11111_original = pyk11111_original.loc[:,keep_cols]

# pyk12345 = pd.read_csv('pyktok_data/Sec1Gr1_12345.csv')
# pyk12345 = pyk12345.loc[:,keep_cols]

pyk26301 = pd.read_csv('pyktok_data/Sec1Gr2_26301.csv')
pyk26301 = pyk26301.loc[:,keep_cols]

pyk33534 = pd.read_csv('pyktok_data/Sec1Gr2_33534.csv')
pyk33534 = pyk33534.loc[:,keep_cols]

pyk38129 = pd.read_csv('pyktok_data/Sec1Gr2_38129.csv')
pyk38129 = pyk38129.loc[:,keep_cols]

# pyk50405 = pd.read_csv('pyktok_data/Sec1Gr1_50405.csv')
# pyk50405 = pyk50405.loc[:,keep_cols]

/var/folders/yl/zl57ck115t9_8v83kxw1gtc40000gn/T/ipykernel_18851/324992950.py:15: DtypeWarning: Columns (8,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  pyk11111_original = pd.read_csv('pyktok_data/Sec1Gr3_11111.csv')

In [257]:
for vid2 in vids3.to_list():
    if vid2 not in vids.to_list():
        print(vid2)

In [227]:
s = """d10824 = pd.read_csv('pyktok_data/Sec1Gr1_10824.csv')
df10824 = df10824.loc[:,keep_cols]

df11111_original = pd.read_csv('pyktok_data/Sec1Gr3_11111.csv')
df11111_original = df11111_original.loc[:,keep_cols]

df12345 = pd.read_csv('pyktok_data/Sec1Gr1_12345.csv')
df12345 = df12345.loc[:,keep_cols]

df26301 = pd.read_csv('pyktok_data/Sec1Gr2_26301.csv')
df26301 = df26301.loc[:,keep_cols]

df33534 = pd.read_csv('pyktok_data/Sec1Gr2_33534.csv')
df33534 = df33534.loc[:,keep_cols]

df38129 = pd.read_csv('pyktok_data/Sec1Gr2_38129.csv')
df38129 = df38129.loc[:,keep_cols]

df50405 = pd.read_csv('pyktok_data/Sec1Gr1_50405.csv')
df50405 = df50405.loc[:,keep_cols]""".replace('df','pyk')

In [228]:
print(s)

d10824 = pd.read_csv('pyktok_data/Sec1Gr1_10824.csv')
pyk10824 = pyk10824.loc[:,keep_cols]

pyk11111_original = pd.read_csv('pyktok_data/Sec1Gr3_11111.csv')
pyk11111_original = pyk11111_original.loc[:,keep_cols]

pyk12345 = pd.read_csv('pyktok_data/Sec1Gr1_12345.csv')
pyk12345 = pyk12345.loc[:,keep_cols]

pyk26301 = pd.read_csv('pyktok_data/Sec1Gr2_26301.csv')
pyk26301 = pyk26301.loc[:,keep_cols]

pyk33534 = pd.read_csv('pyktok_data/Sec1Gr2_33534.csv')
pyk33534 = pyk33534.loc[:,keep_cols]

pyk38129 = pd.read_csv('pyktok_data/Sec1Gr2_38129.csv')
pyk38129 = pyk38129.loc[:,keep_cols]

pyk50405 = pd.read_csv('pyktok_data/Sec1Gr1_50405.csv')
pyk50405 = pyk50405.loc[:,keep_cols]