In [1]:
import json
import pandas as pd
from urllib.parse import urlparse
import matplotlib.pyplot as plt

In [2]:
def getID(url):
    """
    Helper Function: Given an url string, returns the video id embedded in the url
    """
    parsed_url = urlparse(url)
    path_segments = parsed_url.path.split('/')
    return int(path_segments[3])

def processJson(filename): #for Sec2Gr2 files
    """
    Helper Function: Given a json datafile name, return the file in dataframe format 
    """
    jsondf = jsond
    jsondf['video_id'] = jsondf['Link'].apply(getID)
    return jsondf

def processJson2(filename): #for Sec1Gr1 files
    with open(filename, 'r') as file:
        jsondata = json.load(file)

    jsondict = {'Date':[],'Link':[],'video_id':[]}
    for video in jsondata['data']:
        jsondict['Link'].append(video[1])
        jsondict['video_id'].append(getID(video[1])) 
        jsondict['Date'].append(video[0])

    jsondf = pd.DataFrame(jsondict)
    return jsondf

### Check which json files contain relevant months

In [3]:
sec1files = ["Sec1Gr1_10824.json","Sec1Gr1_12345.json","Sec1Gr1_50405.json"]
sec1grp3file = "Sec1Gr3_11111.json"
sec2files = ["Sec2Gr2_26301.json","Sec2Gr2_33534.json","Sec2Gr2_38129.json","Sec2Gr2_69117.json"]

In [4]:
for file in sec1files:
    print(file)
    jsonfile = processJson2(file)
    jsonfile['Date'] = pd.to_datetime(jsonfile['Date'])
    monthlycounts = jsonfile.groupby(jsonfile['Date'].dt.to_period('M')).size()
    print(monthlycounts)
    print()

Sec1Gr1_10824.json
Date
2023-11    14114
2023-12     2940
2024-02     9213
Freq: M, dtype: int64

Sec1Gr1_12345.json
Date
2023-09    2985
2023-11    1964
2023-12    5558
2024-01    5299
2024-02    4038
2024-03     777
Freq: M, dtype: int64

Sec1Gr1_50405.json
Date
2023-08    10053
2023-09     1044
2023-10     1540
2023-11     1003
2023-12     6047
2024-01     6295
2024-02      135
Freq: M, dtype: int64

### Merge original json and csv files' dataframes

sample

In [5]:
jsondf = processJson2("Sec1Gr1_10824.json")
jsondf.head()

,Date,Link,video_id
0,2024-02-09 23:35:22,https://www.tiktokv.com/share/video/7328672125...,7328672125441658117
1,2024-02-26 23:29:56,https://www.tiktokv.com/share/video/7326611895...,7326611895509585185
2,2024-02-26 23:28:15,https://www.tiktokv.com/share/video/7324765984...,7324765984139644192
3,2024-02-26 23:27:53,https://www.tiktokv.com/share/video/7329768535...,7329768535524429102
4,2024-02-26 23:27:42,https://www.tiktokv.com/share/video/7338541911...,7338541911629745414

In [ ]:
csvdf = df.read_csv("Sec1Gr1_10824.csv")
csvdf.head()

In [ ]:
df1.merge(df2, on=['col1', 'col2'])