In [74]:
import pandas as pd
import os
import json
import re

In [75]:
ls

CompleteDateTime.ipynb      pyktok_data/
README.md                   topic_modeling.ipynb
exploratory_analysis.ipynb  user_jsons/
looking_at_jsons.ipynb      user_jsons_tosplit/
pyktok/

In [76]:
os.listdir('user_jsons')

['Sec1Gr3_11111.json',
 '.DS_Store',
 'Sec1Gr1_10824.json',
 'Sec2Gr2_69117.json',
 'Sec1Gr1_50405.json',
 'Sec2Gr2_33534.json',
 'Sec1Gr1_12345.json',
 'Sec2Gr2_26301.json',
 'Sec2Gr2_38129.json']

In [77]:
codes = ['10824','11111','12345','26301','33534','38129','50405']

In [78]:
json_files = ['Sec1Gr1_10824.json',
              'Sec1Gr3_11111.json',
              'Sec1Gr1_12345.json',
              'Sec2Gr2_26301.json',
              'Sec2Gr2_33534.json',
              'Sec2Gr2_38129.json',
              'Sec1Gr1_50405.json']

In [82]:
def get_timestamps_links_list(filename):
    with open(f'user_jsons/{filename}') as fin:
        data = json.load(fin)
        print(type(data))
        if type(data) == dict:
            print("JSON DATA LOADED AS DICTIONARY")
            data = data['data'] # retrieve only the timestamp and link as list
#             print(type(data))
#             print(data[:3])
        else:
            print("JSON DATA LOADED AS LIST")
#             print(data[:3])
    return data

In [62]:
def get_video_id(link):
    # Define the regex pattern
    pattern = r'\/(\d+)\/$'
    match = re.search(pattern, link)
    if match:
        return match.group(1)
    else:
        print(f"No match for link {link}")
        return ""

In [84]:
def make_json_df(filename, code):
    '''Given filename of data file in user_json folder, 
    loads and saves data to new df with columns for watch time and link.
    Adds a column for the user and for the video id.'''
    # Get list of timestamps and links from json file
    data = get_timestamps_links_list(filename)
    
    # Create dataframe from the timestamp and link
    json_df = pd.DataFrame(data,columns=['Date','Link'])
    
#     # Add code column
#     json_df['code'] = code
#     json_df['video_id'] = json_df['link'].apply(get_video_id)
    return json_df

In [90]:
exdf = make_json_df('Sec2Gr2_26301.json',26301)

<class 'list'>
JSON DATA LOADED AS LIST

In [91]:
exdf

                      Date                                               Link
0      2024-03-06 19:44:41  https://www.tiktokv.com/share/video/7315561816...
1      2024-03-06 18:00:25  https://www.tiktokv.com/share/video/7315561816...
2      2024-03-06 17:58:36  https://www.tiktokv.com/share/video/7315561816...
3      2024-03-06 17:56:52  https://www.tiktokv.com/share/video/7315561816...
4      2024-03-06 17:46:03  https://www.tiktokv.com/share/video/7315561816...
...                    ...                                                ...
82366  2023-09-10 00:30:26  https://www.tiktokv.com/share/video/7276548738...
82367  2023-09-10 00:30:22  https://www.tiktokv.com/share/video/7276921937...
82368  2023-09-10 00:30:10  https://www.tiktokv.com/share/video/7276503910...
82369  2023-09-10 00:30:09  https://www.tiktokv.com/share/video/7276924782...
82370  2023-09-10 00:29:59  https://www.tiktokv.com/share/video/7276125599...

[82371 rows x 2 columns]

In [92]:
def convert2json(row):
    result = {"Date":row["Date"],
              "Link":row["Link"]}
    return result

In [95]:
exdf["dict"] = exdf.apply(convert2json, axis=1)
exdf.head()

,Date,Link,dict
0,2024-03-06 19:44:41,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 19:44:41', 'Link': 'https..."
1,2024-03-06 18:00:25,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 18:00:25', 'Link': 'https..."
2,2024-03-06 17:58:36,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 17:58:36', 'Link': 'https..."
3,2024-03-06 17:56:52,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 17:56:52', 'Link': 'https..."
4,2024-03-06 17:46:03,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 17:46:03', 'Link': 'https..."

In [96]:
exdf = exdf['dict'].tolist()
exdf[:5]

[{'Date': '2024-03-06 19:44:41',
  'Link': 'https://www.tiktokv.com/share/video/7315561816673750318/'},
 {'Date': '2024-03-06 18:00:25',
  'Link': 'https://www.tiktokv.com/share/video/7315561816673750318/'},
 {'Date': '2024-03-06 17:58:36',
  'Link': 'https://www.tiktokv.com/share/video/7315561816673750318/'},
 {'Date': '2024-03-06 17:56:52',
  'Link': 'https://www.tiktokv.com/share/video/7315561816673750318/'},
 {'Date': '2024-03-06 17:46:03',
  'Link': 'https://www.tiktokv.com/share/video/7315561816673750318/'}]

In [97]:
# Writing to sample.json
with open("edith_test.json", "w") as outfile:
    json_object = json.dumps(exdf, indent=4)
    outfile.write(json_object)

# Reformat JSON Files for Data Collection - USER 26301

In [68]:
pwd

'/Users/edithpo/Documents/CS315/CS315_FinalProject'

In [69]:
ls

CompleteDateTime.ipynb      pyktok_data/
README.md                   topic_modeling.ipynb
exploratory_analysis.ipynb  user_jsons/
looking_at_jsons.ipynb      user_jsons_tosplit/
pyktok/

In [70]:
os.listdir('user_jsons_tosplit')

['Sec1Gr1_12345_1.json',
 'xab.json',
 'xac.json',
 'xad.json',
 'xae.json',
 'xaf.json',
 'xag.json',
 'Sec1Gr1_12345.json',
 'Sec2Gr2_26301.json',
 'xaa.json',
 'Sec1Gr1_12345_2.json']

In [ ]:
def convert2json(row):
    result = {"Date":row["Date"],
              "Link":row["Link"]}
    return result

In [100]:
user26301 = make_json_df('Sec2Gr2_26301.json',26301)
user26301["dict"] = user26301.apply(convert2json, axis=1)
print(user26301.shape)
user26301.head()

<class 'list'>
JSON DATA LOADED AS LIST
(82371, 3)

,Date,Link,dict
0,2024-03-06 19:44:41,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 19:44:41', 'Link': 'https..."
1,2024-03-06 18:00:25,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 18:00:25', 'Link': 'https..."
2,2024-03-06 17:58:36,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 17:58:36', 'Link': 'https..."
3,2024-03-06 17:56:52,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 17:56:52', 'Link': 'https..."
4,2024-03-06 17:46:03,https://www.tiktokv.com/share/video/7315561816...,"{'Date': '2024-03-06 17:46:03', 'Link': 'https..."

In [104]:
# Turn into list
user26301 = user26301['dict'].tolist()

11767.285714285714

In [106]:
len(user26301)

82371

In [108]:
# Split the df into parts
part1 = user26301[:12000]
part2 = user26301[12000:24000]
part3 = user26301[24000:36000]
part4 = user26301[36000:48000]
part5 = user26301[48000:60000]
part6 = user26301[72000:82371]

In [110]:
parts = [part1, part2, part3, part4, part5, part6]
fnames = ['Sec2Gr2_26301_1.json','Sec2Gr2_26301_2.json',
          'Sec2Gr2_26301_3.json','Sec2Gr2_26301_4.json',
          'Sec2Gr2_26301_5.json','Sec2Gr2_26301_6.json']

In [111]:
# Writing to sample.json
# with open("edith_test.json", "w") as outfile:
#     json_object = json.dumps(exdf, indent=4)
#     outfile.write(json_object)
    
    
for part, fn in zip(parts, fnames):
    with open(f"user_jsons_tosplit/{fn}","w") as outfile:
        json_object = json.dumps(part, indent=4)
        outfile.write(json_object)